.app {
    min-height: 100vh;
    max-width: 800px;
    margin: 0px auto;
    margin-top: 10vh;
    position: relative;
}

.controller-carousel-container {
    max-width: 1000px;
    margin: 0px auto;
    position: absolute;
}

.simple-carousel-container {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
}

.simple-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
    /* position: fixed;
    top: 50%;
    transform: translateY(-50%); */
}

.buttons-top {
    margin: 0px auto;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.buttons-bottom {
    text-align: center;
    position: fixed;
    width: 230px;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    bottom: 10px;
}

.arrow {
    font-size: 60px;
    color: #4c6ef5
}

.counter {
    /* line-height: 80px; */
    vertical-align: middle;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 550px) {
    .buttons-top {
        visibility: hidden;
    }

    .simple-image {
        margin-bottom: 0px;
        position: fixed;
        top: 40%;
        transform: translateY(-40%);
    }

    .buttons-bottom {
        visibility: visible;
    }
}